page-statistic{
    
    .main-container .input-statistic{
        // background-color:#bdd88c;
        color: #000;
        height: 40px;
        font-weight: 500;
        padding: 0;
    }

    .main-container .input-statistic span{
        display: block;
        height: 100%;
        line-height: 40px;
        padding: 0 20px;
        // background-color:#dcedc2;
    }
    .percent-right{
        padding: 0 0 0 10px;
        line-height: 40px;
        font-weight: 600;
    }
    ion-row{
        margin:10px
    }
    .subcategory-span{
        position: absolute;

    }
    .subcategory-score{
        display: block;
        height: 100%;
    }

    .subcategory-button{
        width: 120px;
        height: 120px;
        border-radius: 8px;
        background-color: #bdd88c;
        color: #6a962f;
        white-space: normal;
        margin: 10px;
        text-align: center
    }

    .title{
        background-image: url('../assets/img/category-title.png');
        background-size:150%;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%
    }
        
}