page-ajoutquestion{
    .button-add{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.77);;
        border-radius: 6px;
        height:45px;
        line-height: 35px;
        color: #000;
        margin:0 auto;
        font-size: 20px;
        min-width: 350px;
    }
}