<ion-header no-border>
    <ion-toolbar class="toolbar">
        <ion-icon class="arrow-back" name="arrow-back"></ion-icon><button offset-1 class="button-back hidden-xs-down" color="light" ion-button (tap)="cancelEvaluation()"><ion-icon ios="ios-list" md="md-list"></ion-icon></button>
        <button offset-1 class="button-back hidden-sm-up" (tap)="cancelEvaluation()" color="light" ion-button>
            <ion-icon name="arrow-back"></ion-icon>       
        </button>
        <img src="assets/img/logo-app.png" class="logo-toolbar" alt="">
    </ion-toolbar>
</ion-header>

<ion-content class="no-ipad-scroll" class="main-container">
    <ion-grid *ngIf="categories" >
        <ng-container *ngFor="let category of categories">
            <ion-row>
                <h1 class="title category-tite">{{ category.name }}</h1>
            </ion-row>
            <ion-row>
                <div class="subcategory-container">
                    <ng-container *ngFor="let subcategory of category.sub_categories">
                        <button [ngClass]="{'form-done': (subcategoriesDone.indexOf(subcategory.id) > -1)}" (tap)="evaluateAction(subcategory, (subcategoriesDone.indexOf(subcategory.id) > -1) ? 1 : 0)" class="subcategory-button button-done" ion-button color="light">
                            {{ subcategory.name }} 
                        </button>
                    </ng-container>
                </div>
            </ion-row>
        </ng-container>
        <br>
        <br>
        <br>
        <ion-row *ngIf="subcategoriesDone.length == subcategories.length">
            <ion-col text-center>
                <button ion-button (tap)="validateEvaluation()" color="eatsalad" class="button-light">Valider l'évaluation</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>