<ion-header no-border>
    <ion-toolbar class="toolbar">
        <button offset-1 col-3 class="button-back" (tap)="cancelEvaluation()" color="light" ion-button>Retour</button>
        <ion-col col-4 offset-4>
            <img src="assets/img/logo-app.png" class="logo-toolbar" alt="">
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
    <ion-grid *ngIf="categories" class="main-container">
        <ng-container *ngFor="let category of categories">
            <ion-row>
                <h1 class="title">{{ category.name }}</h1>
            </ion-row>
            <ion-row>
                <ng-container *ngFor="let subcategory of subcategories">
                        <button [ngClass]="{'form-done': (subcategoriesDone.indexOf(subcategory.id_question_subcategory) > -1)}" (tap)="evaluateAction(category, subcategory, (subcategoriesDone.indexOf(subcategory.id_question_subcategory) > -1) ? 1 : 0)" class="subcategory-button button-done" ion-button color="light" *ngIf="subcategory.question_category_id == category.id_question_category">
                            {{ subcategory.name }} 
                        </button>
                </ng-container>
            </ion-row>
        </ng-container>
        <br>
        <br>
        <br>
        <ion-row *ngIf="subcategoriesDone.length == subcategories.length">
            <ion-col text-center>
                <button ion-button (tap)="validateEvaluation()" color="eatsalad" class="button-light">Valider l'évaluation</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <button ion-button (tap)="validateEvaluation()" color="eatsalad" class="button-light">Valider l'évaluation</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>