page-evaluationcategory{

    .subcategory-container{
        margin: 0 auto;
        text-align: center
    }

    .category-tite{
        margin: 40px auto 40px;
        background-image: url('../assets/img/background-title.png');
        background-size: contain;
        line-height: 150px;
        background-repeat: no-repeat;
        font-family: 'alittlesunshine';
        background-position: center center;
        font-size: 50px;
    }

    .subcategory-button{
        width: 160px;
        padding:100px;
        height: 160px;
        border-radius: 8px;
        background-color: transparent;
        background-image: url('../assets/img/bouton.png');
        background-size: contain;
        color: #000;
        white-space: normal;
        margin: 10px;
        text-align: center
    }

    .subcategory-button:active{
        background-color: transparent;
        background-image: url('../assets/img/bouton-on.png');
    }

    .subcategory-button:hover{
        background-color: transparent;
        // background-image: url('../assets/img/bouton-on.png');
    }

    .form-done{
        background-color: transparent;
        background-image: url('../assets/img/bouton-ok.png');
        background-size: contain;
    }

}