page-evaluationcategory{

    .subcategory-container{
        margin: 0 auto;
        text-align: center
    }

    .category-tite{
        background-image: url('../assets/img/category-title.png');
        background-repeat: no-repeat;
        background-size: contain;
        line-height: 10px; 
        width: 100%;
        text-align: center;
    }

    .subcategory-button{
        width: 160px;
        padding:100px;
        height: 160px;
        border-radius: 8px;
        background-color: transparent;
        background-image: url('../assets/img/bouton.png');
        background-size: contain;
        color: #000;
        white-space: normal;
        margin: 10px;
        text-align: center
    }

    .form-done{
        background-color: transparent;
        background-image: url('../assets/img/bouton-ok.png');
        background-size: contain;
    }

}