page-ajoutrestaurantmodal{
    .main-container{
        position: relative
    }

    .button-container{
        // position: absolute;
        bottom: 500px;
        text-align: center;
        width: 100%;
    }

    .text-input, ion-select{
        background-color:#bdd88c;
        border-radius: 8px;
        color: #6a962f;
        min-width:100px;
        padding: 0px 10px;
    }

    @media (max-width:767px) {
        .button-container{
            position: absolute;
            bottom: 300px;
            text-align: center;
            width: 100%;
        }
    }

}