<ion-content class="main-container">
    <ion-grid>
        <ion-row><h1 class="title">NOUVELLE {{ modaltitle|uppercase }}</h1></ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-list>
                    <ion-item class="item-text" col-12 no-lines>
                        <ion-label col-5 *ngIf="modaltitle == 'question'" fixed>Question :</ion-label>
                        <ion-label col-5 *ngIf="modaltitle != 'question'" fixed>Nom :</ion-label>
                        <ion-input class="text" autocorrect="on" autocomplete="on" spellcheck="on" placeholder="..." [(ngModel)]="name"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-list text-center *ngIf="modaltitle == 'sous-categorie'">
                    <ion-item col-12 class="item-text" no-lines>
                        <ion-label col-6 fixed text-wrap>Catégorie :</ion-label>
                        <ion-select col-9 [(ngModel)]="categorySelected" interface="action-sheet">
                            <ion-option *ngFor="let category of categories" [value]="category.id_question_category">{{category.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col col-12>
                <ion-list text-center *ngIf="modaltitle == 'question'">
                    <ion-item col-12 class="item-text"  no-lines>
                        <ion-label col-6 fixed text-wrap>Catégorie :</ion-label>
                        <ion-select col-9 [(ngModel)]="categorySelected" interface="action-sheet"> 
                            <ion-option (ionSelect)="loadSubcategories(category.id_question_category)" *ngFor="let category of categories" [value]="category.id_question_category">{{category.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item col-12 class="item-text" no-lines *ngIf="subcategories.length > 0">
                        <ion-label col-6 fixed text-wrap>Sous catégorie :</ion-label>
                        <ion-select col-9 [(ngModel)]="subcategorySelected" interface="alert">
                            <ion-option *ngFor="let subcategory of subcategories" [value]="subcategory.id_question_subcategory">{{subcategory.name}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row text-center class="button-container">
            <ion-col col-6> 
                <button ion-button color="light" class="button-light" (tap)="close()">Annuler</button>
            </ion-col>
            <ion-col col-6 *ngIf="modaltitle == 'sous-categorie' && name && categorySelected">
                <button ion-button color="light" class="button-light" (tap)="saveSubcategory(name, categorySelected)">Enregistrer</button>
            </ion-col>
            <ion-col col-6 *ngIf="modaltitle == 'categorie' && name">
                <button ion-button color="light" class="button-light" (tap)="saveCategory(name)">Enregistrer</button>
            </ion-col>
            <ion-col col-6 *ngIf="modaltitle == 'question' && name && subcategorySelected">
                <button ion-button color="light" class="button-light" (tap)="saveQuestion(name, subcategorySelected)">Enregistrer</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>