page-restaurantlist{

    #restaurant-title{
        margin: 80px auto 40px;
    }

    .list-restaurants{
        margin-bottom: 30px;
    }

    .button-restaurants{
        width: 150px;
        border-radius:150px!important;
        text-align: center;
        background-color: #77b320;
        border-radius: 6px;
        height:150px;
        color: #ffffff;
        margin:0 auto;
        font-size: 20px;
    }

    .slide-restaurants-container{
        margin-bottom: 20px;
    }

    .bottom-button{
        color: rgba(255, 255, 255, 0.67);
        font-size: 65px;
        margin: 40px auto;
    }

    .remove-restaurant{
        border-radius: 6px;
    }

}