page-archive{
    .main-container ion-col{
        background-color:#bdd88c;
        border-radius: 8px;
        color: #6a962f;
        height: 40px;
        line-height: 40px;
        font-weight: 500;
        padding: 0;
    }

    ion-row{
        margin:10px
    }
}