<ion-header no-border>
    <ion-toolbar class="toolbar">
        <button offset-1 col-3 class="button-back" color="light" ion-button navPop>Menu archives</button>
        <ion-col col-4 offset-4>
            <img src="assets/img/logo-app.png" class="logo-toolbar" alt="">
        </ion-col>
    </ion-toolbar>
</ion-header>
    
<ion-content class="main-container">
    <ion-grid>
        <ion-row>
            <h1 class="title">ANALYSE DU RAPPORT</h1>
        </ion-row>
        <ng-container *ngFor="let category of categories">
            <ion-row>
                <h1 class="title">{{ category.name }}</h1>
            </ion-row>
            <ion-row>
            <ion-row>
                <ng-container *ngFor="let subcategory of subcategories">
                    <ion-col class="responses-container" *ngIf="subcategory.question_category_id == category.id_question_category">
                        <h3 class="title">{{ subcategory.name }}</h3>
                        <ng-container *ngFor="let response of responses">
                            <div *ngIf="response.id_question_subcategory == subcategory.id_question_subcategory && subcategory.question_category_id == category.id_question_category">
                                <ion-col col-6 text-right class="question">{{ response.question }}</ion-col>
                                <ion-col col-6 text-left class="response">{{ response.response }}</ion-col>                                
                            </div>
                        </ng-container>
                    </ion-col>
                </ng-container>
            </ion-row>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>