page-signaturepopover {
    signature-pad {
        canvas {
          border: dashed 1px #cccccc;
          width: 100%; height: 300px;
        }
      }

    @media (max-width: 767px) {
      signature-pad {
        canvas {
          margin-top: 100px;
        }
      }
    }
}
