page-evaluationcommentaire{

    .evaluation-comment{
        background-color:#bdd88c;
        border-radius: 8px;
        color: #6a962f;
        padding: 10px 10px;
        min-height: 40px;
        vertical-align: middle;
    }

}