page-evaluation {

    .response-button{
        border-radius: 8px;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        position: relative;
        width:150px;
        height:150px;
    }

    .response-button ion-label{
        text-align: center;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .response-button ion-label span{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .response-comment{
        background-color:#bdd88c;
        border-radius: 8px;
        color: #6a962f;
        height: 50px;
        padding: 0px 10px;
    }

    .camera-button{
        background-color:#bdd88c;
        color: #89BD29;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        padding: 0px 10px;
        margin: 0px;
    }

    .photo-comment-line{
        // height: 50px;
        // border: 1px solid black;
        padding: 0px
    }

    .comment-container{

    }

    .photo-container{

    }

    .delete-photo{
        color:#ffffff;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
    }

    .evaluation-photo{
        border-radius: 8px;
        width: 150px;
        height: 150px;
    }

    .response-0{
        background-color:#c30004;
    }

    .response-1{
        background-color:#fc6308;
    }

    .response-2{
        background-color:#fece09;
    }

    .response-3{
        background-color:#1cd304;
    }

    .checked .response-bck{
        color: #ffffff;
    }


    .checked .response-0{
        background-color:rgba(195, 0, 4, 0.50)!important;
    }

    .checked .response-1{
        background-color:rgba(244, 133, 66, 0.50)!important;
    }

    .checked .response-2{
        background-color:rgba(248, 215, 76, 0.50)!important;
    }

    .checked .response-3{
        background-color:rgba(85, 202, 69, 0.50)!important;
    }

    @media (max-width: 575px) {
        .response-button{
            border-radius: 8px;
            color: #fff;
            text-align: center;
            margin: 0px auto;
            position: relative;
            width:85px!important;
            height:85px!important;
        }   
        .response-button ion-label{
            text-align: center;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
        }
    
        .response-button ion-label span{
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        } 
    }

}