page-evaluation {

    .response-button{
        border-radius: 8px;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        position: relative;
        width:150px;
        height:150px;
    }

    .response-button ion-label{
        text-align: center;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
    }

    .response-button ion-label span{
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .response-comment{
        background-color:#bdd88c;
        border-radius: 8px;
        color: #6a962f;
        height: 50px;
        line-height: 25px;
        padding: 0px 10px;
        position: absolute;
        top: 50%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
    }

    .camera-button{
        background-color:#bdd88c;
        color: #89BD29;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        padding: 0px 10px;
        position: absolute;
        top: 47%; /* poussé de la moitié de hauteur du référent */
        transform: translateY(-50%);
    }

    .photo-comment-line{
        position: relative;
    }

    .comment-container{
        line-height: 50px;
        padding: 0;
    }

    .photo-container{
        line-height: 50px;
        padding: 0;
    }

    .photo-container{
        position: relative;
        width: 150px;
        height: 150px;
    }

    .delete-photo{
        color:#ffffff;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
    }

    .evaluation-photo{
        border-radius: 8px;
        width: 150px;
        height: 150px;
    }

    .response-0{
        background-color:#c30004;
    }

    .response-1{
        background-color:#fc6308;
    }

    .response-2{
        background-color:#fece09;
    }

    .response-3{
        background-color:#1cd304;
    }

}