<ion-header no-border>
    <ion-toolbar class="toolbar">
        <button offset-1 col-3 class="button-back" color="light" ion-button (tap)="cancelEvaluation()">Menu questions</button>
        <ion-col col-4 offset-4>
            <img src="assets/img/logo-app.png" class="logo-toolbar" alt="">
        </ion-col>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid text-center class="main-container">

        <ion-row col-8 offset-2>
            <img src="assets/barat-logo.png" text-center alt="">
        </ion-row>

        <ion-row>
            <ion-label>Visite de conformité effectuée par</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-row>
            
        <ion-row>
            <ion-label>Dans le restaurant Eatsalad</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-row>
            
            
        <ion-row>
            <ion-label>Le</ion-label>
            <ion-input placeholder="Text Input"></ion-input>
        </ion-row>
            
        <ion-row>
            <ion-col col-6>
                <img [src]="pathForImage(signatureController)" *ngIf="signatureController" />
                <button (tap)="signatureControllerAction()" *ngIf="!signatureController" class="signature-button" ion-button color="light">
                    Signature du controlleur
                    <span>Mention lu et approuvé</span>
                </button>
            </ion-col>
            <ion-col col-6>
                <img [src]="pathForImage(signatureFranchised)" *ngIf="signatureFranchised" />                    
                <button (tap)="signatureFranchisedAction()" *ngIf="!signatureFranchised" class="signature-button" ion-button color="light">
                    Signature du franchisé ou responsable
                    <span>Mention lu et approuvé</span>
                </button>
            </ion-col>
            
        </ion-row>
            
        <br>
        <br>
        <ion-row>
            <ion-col text-center>
                <button ion-button color="eatsalad" class="button-light">Valider</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>