<ion-header no-border>
    <ion-toolbar class="toolbar">
        <ion-icon class="arrow-back" name="arrow-back"></ion-icon><button offset-1 class="button-back hidden-xs-down" color="light" ion-button navPop><ion-icon ios="ios-list" md="md-list"></ion-icon></button>
        <button offset-1 class="button-back hidden-sm-up" color="light" ion-button navPop>
            <ion-icon name="arrow-back"></ion-icon>       
        </button>
        <img src="assets/img/logo-app.png" class="logo-toolbar" alt="">
    </ion-toolbar>
</ion-header>

<ion-content #tpl class="main-container">
    <ion-grid text-center padding>

        <div class="signature-container" col-sm-10 offset-sm-1>

            <img src="assets/img/barat-logo.png" text-center id="barat-logo" alt="">
            <br>
            <br>
            <ion-row no-padding>
                <ion-col>
                    <ion-item>
                        <ion-label col-7 text-wrap text-right>Visite de conformité effectuée par</ion-label>
                        <ion-input autocorrect="on" [(ngModel)]="controllerName" autocomplete="on" spellcheck="on" placeholder="..."></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <br>
            <ion-row no-padding>
                <ion-label text-wrap text-right>Dans le restaurant Eatsalad</ion-label>
                <ion-label class="signature-information">{{ restaurant.name }}</ion-label>
            </ion-row>
                <br>
            <ion-row no-padding>
                <ion-label text-wrap text-right>Le</ion-label>
                <ion-label class="signature-information">{{ evaluation.date }}</ion-label>
            </ion-row>
                <br>
            <ion-row no-padding>
                <ion-label text-wrap text-right>À</ion-label>
                <ion-label class="signature-information">{{ hour }}H{{ minutes }}</ion-label>
            </ion-row>
                <br>
                <br>
            <ion-row>
                <ion-col col-6>
                    <h3>Signature du contrôleur</h3>
                    <p>(Mention "lu et approuvé")</p>
                    <div text-center class="signature-container" *ngIf="signatureController">
                        <ion-icon class="delete-signature" (tap)="deleteSignature('controller')" color="light" name="ios-trash"></ion-icon>                                                    
                        <img class="signature-image" [src]="signatureController"/>   
                    </div>
                    <button (tap)="signatureControllerAction()" *ngIf="!signatureController" class="signature-button" ion-button color="light">
                        Signer
                    </button>
                </ion-col>
                <ion-col col-6>
                    <h3>Signature du franchisé ou responsable du magasin</h3>
                    <p>(Mention "lu et approuvé")</p>

                    <div text-center class="signature-container" *ngIf="signatureFranchised && !refusal">
                        <ion-icon class="delete-signature" (tap)="deleteSignature('franchised')" color="light" name="ios-trash"></ion-icon>                                                    
                        <img class="signature-image" [src]="signatureFranchised"/>   
                    </div>

                    <div text-center class="signature-container" *ngIf="!signatureFranchised && refusal">
                        <ion-icon class="delete-signature" (tap)="deleteSignature('franchised')" color="light" name="ios-trash"></ion-icon>
                        <p class="signature-refused">
                            REFUSÉ
                        </p>
                    </div>
                                        
                    <button (tap)="signatureFranchisedAction(false)" *ngIf="!signatureFranchised && !refusal" class="signature-button" ion-button color="light">
                    Signer
                    </button>
                    <button (tap)="signatureFranchisedAction(true)" *ngIf="!signatureFranchised && !refusal" class="signature-button-refusal" ion-button color="light">
                        Refuser
                    </button>
                </ion-col>
                
            </ion-row>
        </div>
        <br>
        <br>

        <ion-row *ngIf="(signatureFranchised || refusal) && signatureController && controllerName">
            <ion-col text-center>
                <button ion-button  (tap)="validateContrat(controllerName)" color="eatsalad" class="button-light">Valider</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>