page-restaurantdetail{

    .detail-buttons{
        color: #89BD29;
        background-color: #bdd88c;
        font-size: 45px;
        padding: 20px;
        border-radius: 6px;
        text-align:center;
        margin: 10px auto;
    }

    .detail-titles{
        text-align: center;
        margin: 10px auto 0px;
        font-size: 20px;
    }

    .main-container ion-grid div{
        margin: 150px auto 0px; 
        height:100%;
        width: 100%;
        text-align: center;
    }

    #new-restaurant-container ion-input{
        border-radius: 7px;
        height: 35px;
        background-color: #bdd88c;
    }

    #new-restaurant-container ion-label{
        min-width: 50px;
        font-size: 20px;
    }

    @media (max-width: 768px) {
        
        .main-container ion-grid div{
            margin: 70px auto 0px!important; 
        }

        .detail-buttons{
            font-size: 30px!important;
            margin: 0px auto!important;
        } 
    }

}