<ion-content class="modal main-container" padding>
    <ion-grid>
        <ion-row *ngIf="comment != ''">
            <h1 class="title">Commentaire :</h1>
            <ion-col col-12 text-center>"{{ comment }}"</ion-col>
        </ion-row>
        <ion-row *ngFor="let photo of photos">
            <img class="photo" src="{{photo}}" alt="">
        </ion-row>
        <ion-row>
            <ion-col col-10 offset-1>
                <button ion-button class="button-light" (tap)="close()" full color="light">Fermer</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>